[
    {lager, [
        {log_root, "log/"},
        {colored, true},
        {colors, [
            {debug, "\e[0;33m"},
            {info, "\e[0;32m"},
            {notice, "\e[1;32m"},
            {warning, "\e[0;35m"},
            {error, "\e[1;31m"},
            {critical, "\e[1;31m"},
            {alert, "\e[1;31m"},
            {emergency, "\e[1;31m"}
        ]},
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
        ]},
        %% {error_logger_hwm, 250}
        {extra_sinks, [
            {req_logs_lager_event, [
                {handlers, [
                    {lager_console_backend, [
                        {level, info},
                        {formatter_config, [time, color, " [", severity, "] ", message, "\e[0m\r\n"]}
                    ]},
                    {lager_file_backend, [{file, "req.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
                ]}
            ]}
        ]}
    ]},
    {raven_erlang, [
        {dsn, "http://ad85f98da567418ab949e318b2eff055:42ca6a377976449db906dfb8d0ae04a1@10.5.10.229:9000/12"},
        {error_logger, false}  % Set to true in order to install the standard error logger
    ]},
    {phoenix, [
        %% maxt and reset are in millisecond
        %% maxr is number of melts in maxt time window
        {circuit_breakers, [
            {search, [{maxr, 1000}, {maxt, 10000}, {reset, 5000}]}
        ]},

        {opentracing, [
            %% set to false to disable opentracing (via otter)
            %% see otter app setting for information
            {enable, true}
        ]},

        {http_rest, [
            {port, 8001},        %% HTTP listen port

            {nr_listeners, 1000},
            {backlog, 1024},
            {max_connections, 100000},
            %% set ssl to false for http:// instead of https://
            %% if ssl is setup then ensure that priv/ssl/cert.pem is the server cert
            %% and priv/ssl/key.pem is the server private key in PEM format.
            {ssl, false},

            %% the maximum number of requests which will be serviced
            %% with the same process (by cowboy) when http client
            %% implements HTTP/1.1 keep-alive
            {max_keepalive, 10000},

            {max_read_length, 12582912},  %% 12 * 1024 * 1024 or 12 MB
            {max_read_timeout_msec, 10000}
        ]},

        {caches, [
            %% must match phoenix_constants.hrl
            {cache_generic, [
                {enable, true},
                {memory_bytes, 1073741824}, %% 1024*1024*1024 or 1GB
                {segments, 1},
                {ttl_sec, 31536000} %% 365*24*60*60 or 1 year
            ]}
        ]},
        {generic_http_client, [
            {set_options, [{max_keep_alive_length, 0}, {max_sessions, 100}]},
            {connection_timeout_msec, 30000},
            {timeout_msec, 30000}
            ]},
        {palma_pools, [
            {
                leveldb_pool,
                8,
                {
                    leveldb_worker_id,
                    {
                        phoenix_leveldb_proc,
                        start_link,
                        [
                            [
                            ]
                        ]
                    },
                    {permanent, 5},  %% see palma_supervisor2 (delay of 5 seconds)
                    2000,  %% milli seconds to wait before killing
                    worker,  %% it is a worker (and not supervisor)
                    [phoenix_leveldb_proc]
                },
                10000, %% palma shutdown delay in milliseconds
                #{min_alive_ratio => 1.0, reconnect_delay => 4000}  %% revolver options
            },
            {
                phoenix_cleanup_pool,
                8,
                {
                    phoenix_cleanup_worker_id,
                    {
                        phoenix_cleanup_server,
                        start_link,
                        [
                            [
                            ]
                        ]
                    },
                    {permanent, 5},  %% see palma_supervisor2 (delay of 5 seconds)
                    2000,  %% milli seconds to wait before killing
                    worker,  %% it is a worker (and not supervisor)
                    [phoenix_cleanup_server]
                },
                10000, %% palma shutdown delay in milliseconds
                #{min_alive_ratio => 1.0, reconnect_delay => 4000}  %% revolver options
            },
            {
                leveldb_connections_pool,
                1,
                {
                    leveldb_connections_worker_id,
                    {
                        phoenix_connections_server,
                        start_link,
                        [
                            [
                            ]
                        ]
                    },
                    {permanent, 5},  %% see palma_supervisor2 (delay of 5 seconds)
                    2000,  %% milli seconds to wait before killing
                    worker,  %% it is a worker (and not supervisor)
                    [phoenix_connections_server]
                },
                10000, %% palma shutdown delay in milliseconds
                #{min_alive_ratio => 1.0, reconnect_delay => 4000}  %% revolver options
            }
        ]},

        %%% Monitoring bridge between Folsom and Graphite
        {folsom_graphite, [
            {enabled, true},  %% true when metrics are pushed to Graphite
            {endpoint, {"127.0.0.1", 2003}},
            {buckets, [
                [
                    {name, phoenix_folsom_core_worker},
                    {bucket, "phoenix_store"},
                    {dimensions, [{cluster, <<"app">>}, {node, node}]},
                    {folsom_table_prefixes, [
                        <<"api.">>,
                        <<"api-n.">>,
                        <<"sm.">>,
                        <<"bm.">>,
                        <<"2x">>,
                        <<"4x">>,
                        <<"5x">>
                    ]},
                    {interval, 5000}
                ]
            ]}
        ]},

        %% measure system metrics as given below
        {sysmon, [
            {enabled, true},
            {interval, 5000},
            {vm_metrics, [
                {cpu, avg1},
                {cpu, avg5},
                {cpu, avg15},
                {cpu, util},
                {memory, total},
                {memory, processes},
                {memory, ets},
                {memory, binary},
                {memory, atom},
                {run_queue, all},
                {scheduler, util},
                {io, all},
                {disk, all}
            ]}
        ]}
    ]},

    %% let fuse use folsom for metrics
    {fuse, [
        {stats_plugin, fuse_stats_folsom}
    ]},

    %% default configuration taken from otter/otter.app.src
    %% This is unnecessary unless you want to change it here
    %% or in the dynamic function to load configuration
    %% each time
    {otter, [
        {http_client, httpc}, %% ibrowse | httpc
        %% send to openzipkin
        %% {zipkin_collector_uri, "http://127.0.0.1:9411/api/v1/spans"},
        %% use the following (instead of above) if you want to send to Jaeger
        {zipkin_collector_uri, "http://127.0.0.1:9411/api/v1/spans"},
        %% {zipkin_collector_uri, "http://127.0.0.1:14268/api/traces?format=zipkin.thrift"},
        {zipkin_batch_interval_ms, 100},
        {zipkin_tag_host_ip, {127, 0, 0, 1}},
        {zipkin_tag_host_port, 0},
        {zipkin_tag_host_service, "phoenix"},
        {zipkin_add_host_tag_to_span, {"lc", ""}},
        {filter_rules, [
            {
                [
                    %% prefilter - anything taking more than 1.5 seconds must be traced
                    {greater, otter_span_duration, 1500000}
                ],
                [
                    %% final filter rules
                    {snapshot_count, [long_span], [otter_span_name]},
                    send_to_zipkin
                ]
            }
        ]}
    ]},
    {folsom_cowboy, [
        {ip, {127, 0, 0, 1}}
    ]}

].